header {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    background-color: white;
    padding: 1em;
    padding-bottom: 1em;
    margin: 0.5em;
    border-color: gainsboro;
    border-style: solid;
    color: green; 
}
h1 {
    margin: 0.5em;
    color:cornsilk;
    
}